@font-face {
  font-family: AlegreyaSC;
  src: url('./AlegreyaSC-Regular.ttf') format('truetype');
}

:root {
  --emptysquare: #00000030;
  --missedbg: #ffffff80;
  --hitbg: #ffb6c1cc;
  --validbg: #90ee90cc;
  --shipbg: #2e2e2e80;
  --bodybg: linear-gradient(20deg, #b6009b, #7441e1);
  --last: 2px solid;
}

* {
  box-sizing: border-box;
  font-family: AlegreyaSC, Georgia, 'Times New Roman', Times, serif;
  color: white;
}

[draggable="true"]:hover {
  cursor: move;
}

.clickable,
a {
  cursor: pointer;
}

.whitebg {
  color: #2e2e2e;
  background: white;
  box-shadow: 0 1px 3px 2px #00000020;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: var(--bodybg);
  min-height: 100vh;
}

#turns-status {
  padding: 0.5rem;
  margin: 2rem 0;
}

dialog {
  padding: 0;
  border: none;
  outline: none;
  font-weight: lighter;
  color: black;
  background-color: #ffffffa0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 8px;
  box-shadow: 0 0 3px 1px #00000020;
}

dialog * {
  font-weight: lighter;
  color: inherit;
}

#customize {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#customize-contr,
#gameover-contr {
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#gameover-btns-contr {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#customize-contr span.valid,
.hints .valid {
  background-color: var(--validbg);
}

#customize-ctrl-contr>span,
#gameover-contr button:hover,
#gameover-contr button {
  outline: none;
  border: none;
  padding: 5px;
}

#customize-ctrl-contr>span:active,
#gameover-contr button:active {
  box-shadow: none;
}

#gameover-contr p {
  font-size: large;
  margin: 0;
}

#gameover-contr h2 {
  margin: 0;
}

#ships-contr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

#ships-contr[data-isvertical="true"] {
  flex-direction: row;
}

#ships-contr[data-isvertical="true"]>div {
  grid-template-columns: 25px;
}

#ships-contr .squares {
  background-color: #51515180;
}

#ships-contr>div {
  display: grid;
  gap: 1px;
  grid-template-rows: 25px;
}

#ship1 {
  grid-template-columns: repeat(5, 25px);
}

#ship2 {
  grid-template-columns: repeat(4, 25px);
}

#ship3,
#ship4 {
  grid-template-columns: repeat(3, 25px);
}

#ship5 {
  grid-template-columns: repeat(2, 25px);
}

#ships-contr[data-isvertical="true"] #ship1 {
  grid-template-rows: repeat(5, 25px);
}

#ships-contr[data-isvertical="true"] #ship2 {
  grid-template-rows: repeat(4, 25px);
}

#ships-contr[data-isvertical="true"] #ship3,
#ships-contr[data-isvertical="true"] #ship4 {
  grid-template-rows: repeat(3, 25px);
}

#ships-contr[data-isvertical="true"] #ship5 {
  grid-template-rows: repeat(2, 25px);
}

.board-contr {
  display: grid;
  gap: 1px;
  grid-template: repeat(10, 35px) / repeat(10, 35px);
}

#customize-contr .board-contr {
  grid-template: repeat(10, 25px) / repeat(10, 25px);
}

#customize-ctrl-contr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.squares,
.hints span {
  position: relative;
  border-radius: 3px;
  background-color: var(--emptysquare);
}

.ship-pos:not(.hit) {
  background-color: var(--shipbg) !important;
}

.hit {
  background-color: var(--hitbg) !important;
}

.missed {
  background-color: var(--missedbg) !important;
}

.missed::after {
  content: "";
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.squares.last-hit {
  border: var(--last);
}

#game-contr {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.players:last-child span.squares:not(.missed):not(.hit):hover {
  background-color: var(--validbg);
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.players-name {
  font-size: large;
}

#hints-contr {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hints-contr * {
  color: inherit;
}

#hints-contr>div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hints {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hints-contr span {
  box-shadow: 0 2px 3px 2px #00000020;
  height: 25px;
  width: 25px;
}

footer {
  color: #2e2e2e;
  background-color: #ffffffa0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 2rem;
  gap: 0.5rem;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer * {
  color: inherit;
}

footer a {
  font-size: small;
  font-weight: bold;
}

#bubbles-contr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bubbles {
  border-radius: 50%;
  position: fixed;
}

.bubbles:first-child {
  background-color: #ffffffa0;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  animation: bubble1 20s ease-in-out infinite;
}

.bubbles:nth-child(2) {
  border: 8px solid #ffffffa0;
  height: 60px;
  width: 60px;
  animation: bubble2 10s ease-in-out infinite;
}

.bubbles:last-child {
  background-color: #ffffffa0;
  height: 100px;
  width: 100px;
  animation: bubble3 30s ease-in-out infinite;
}

@keyframes bubble1 {
  0% {
    scale: 1;
    opacity: 0.12;
  }

  50% {
    scale: 6;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 0.12;
  }
}

@keyframes bubble2 {
  0% {
    scale: 4;
    opacity: 0.08;
  }

  50% {
    scale: 0.5;
    opacity: 0;
  }

  100% {
    scale: 4;
    opacity: 0.08;
  }
}

@keyframes bubble3 {
  0% {
    scale: 3;
    opacity: 0;
    transform: translate(-90px, -100px);
  }

  50% {
    scale: 5;
    opacity: 0.1;
    transform: translateX(90px);
  }

  100% {
    scale: 3;
    opacity: 0;
    transform: translate(-90px, 100px);
  }
}

@media (width <=750px) {
  #customize {
    column-gap: 0;
  }

  #customize-contr {
    width: 312px;
  }

  #ships-contr {
    flex-direction: unset;
  }

  .players:first-child .board-contr {
    height: 220px;
    width: 220px;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }

  .board-contr {
    grid-template: repeat(10, 30px) / repeat(10, 30px);
  }

  .players:first-child .squares.missed::after {
    height: 3px;
    width: 3px;
  }
}